<!DOCTYPE html>
<html>
<!-- prevents favicon request -->
<link rel="icon" href="data:,">
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
<head>
  <title>User</title>
</head>
<body>
  <% items.forEach((item) => { %>
    <div class="track-container">
      <div><%= item.track.name %></div>
      <div><%= item.track.album.name %></div>
      <% item.track.artists.forEach((artist) => { %> 
        <div><%= artist.name %></div>
      <% }); %>
      <div><%= item.track.duration_ms  %></div>
      <div><%= item.track.preview_url %></div>
      <div><%= item.track.id %></div>
    </div>
  <% }); %>
</body>
<style>
  .track-container {
    margin: 10px auto;
  }
</style>
</html>